@import url('https://fonts.googleapis.com/css2?family=Rouge+Script');

* {
  padding: 0;
  margin: 0;
}

html {
  background: #aac;
  background-image: url(/images/Skull-And-Crossbones-Remix.svg);
  background-size: 20%;
}

h1, p {
  margin-top: 1em;
}

p {
  font-size: 18px;
}

body {
  width: 40em;
  margin: 1in auto;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 20px;
  background: rebeccapurple;
  color: aliceblue;
}

h1 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #dbf;
}

div.answer {
  padding: 0.5em 1.5em;
  font-family: "Rouge Script", sans-serif;
}

div.answer p {
  font-size: 32px;
}

footer {
  margin-top: 0.5in;
  font-family: monospace;
  text-align: right;
}

footer p {
  font-size: 12px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline dotted;
}